body {
  font-family: Arial, sans-serif;
}
  
  .App {
    text-align: center;
    margin-top: 50px;
  }
  
  .App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
  }
  
  .App-content {
    margin: 20px;
  }